*{
	width:5px;
	margin:25px 55px;
	float:none;
}
body{
	background: linear-gradient(to right,white,yellow,gold);	
}
.click{
	width:75px;
	margin-top:-55px;
	margin-right: 100px;
	box-sizing: border-box;
	background-color: blue;
	color:white;
}
table{
	background: rgba(0,0,0,0.9);
	align-content: center;
}
td:hover{
	transform: translate(10px,4px);
	cursor: -moz-grab;
}
tr:nth-of-type(3) td,tr:nth-of-type(4) td,tr:nth-of-type(5) td,tr:nth-of-type(6) td{
	margin:25px 55px;
	padding: 30px 10px;
}
tr:nth-of-type(odd) td:nth-child(even), tr:nth-of-type(even) td:nth-child(odd){
	background:silver;
}
tr:nth-of-type(even) td:nth-child(even), tr:nth-of-type(odd) td:nth-child(odd){
	background:grey;
}